@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,600;0,700;1,400&display=swap');

.blog-body
{
 
	height: 100vh;
}




#blogs{
    font-family: 'Poppins', sans-serif;
    margin: 0;
        padding: 0;
        scroll-behavior: smooth;
        scroll-padding-top: 2rem;
        box-sizing: border-box;
      
    }

    @keyframes gradient {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }

    /* root values */
    :root{
        --container-color: --color-primary;
        --second-color: rgba(77, 228, 255);
        --text-color: #172317;
        --bg-color: white;
    }

    ::selection{
        color: var(--bg-color);
    }

    #blogs a{
        text-decoration: none;
    }

    #blogs li{
        list-style: none;
    }

    #blogs img{
        width: 100%;
    }

    #blogs section{
        padding: 3rem 0 2rem;
    }

    #blogs .container{
        max-width: 1068px;
        margin: auto;
        width: 100%;
    }

    #blogs a{
        color: #fff;
    }

    /* Header */
    #blogs header{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 200;
    }

    #blogs header.shadow{
        box-shadow: 0 1px 4px hsl(0 4% 14% / 10%);
        transition: .5s;
    }

    #blogs header.shadow .logo{
        color: var(--text-color);
    }

    #blogs .nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 18px 0;
    }

    #blogs .logo{
        font-size: 1.5rem;
        font-weight: 600;
        color: var(--bg-color);
    }

    #blogs .logo span{
        color: var(--second-color);
    }

    #blogs .login{
        padding: 8px 14px;
        text-transform: uppercase;
        font-weight: 500;
        border-radius: 4px;
        background: var(--second-color);
        color: var(--bg-color);
        transition: .5s;
    }

    #blogs .login:hover{
        background: hsl(199, 98%, 56%);
    }

    #blogs .home{
        width: 100%;
        min-height: 440px;
        background: url("images/banner2.png");
        display: grid;
        justify-content: center;
        align-items: center;
    }

    #blogs .home-text{
        color: var(--bg-color);
        text-align: center;
    }

    #blogs .home-title{
        font-size: 3.5rem;
    }

    #blogs .home-subtitle{
        font-size: 1rem;
        font-weight: 400;
    }

    #blogs .about{
        position: relative;
        width: 100%;
        display: flex !important;
        justify-content: center;
        align-items: center;
    }

    #blogs .about .contentBx{
        max-width: 50%;
        width: 50%;
        text-align: left;
        padding-right: 40px;
    }

    #blogs .titleText{
        font-weight: 600;
        color: #111;
        font-size: 2rem;
        margin-bottom: 10px;
    }

    #blogs .title-text{
        color: #ffffff;
        font-size: 1em;
    }

    #blogs .about .imgBx{
        position: relative;
        min-width: 50%;
        width: 50%;
        min-height: 500px;
    }

    #blogs .btn2{
        position: relative;
        display: inline-block;
        margin-top: 30px;
        padding: 10px 30px;
        border: .8px solid #111;
        color: #333;
        text-decoration: none;
        transition: 0.5s;
    }

    #blogs .btn2:hover{
        background-color: var(--second-color);
        border: none;
        color: #fff;
    }

    #blogs .post-filter{
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 1.5rem;
        margin-top: 2rem !important;
    }

    #blogs .filter-item{
        font-size: 0.9rem;
        font-weight: 500;
        cursor: pointer;
    }

    #blogs .active-filter{
        background: var(--second-color);
        color: var(--bg-color);
        padding: 4px 10px;
        border-radius: 4px;
    }

    #blogs .post{
        margin-top: 10px;
        
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(280px, auto));
        justify-content: center;
        gap: 1.5rem;
    }

    #blogs .post-box {
        	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
      
        box-shadow: 0 4px 14px hsl(35deg 25% 15% / 10%);
        padding: 15px;
        border-radius: 0.5rem;
        transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
        transform: translate(0, 0);
    }

    #blogs .post-box:hover {
        background-color: var(--second-color);
        transform: scale(1.03);
        box-shadow: 0 8px 20px hsl(35deg 25% 15% / 20%);
    }

    @keyframes pulse {
        0% {
            transform: scale(1);
        }
        50% {
            transform: scale(1.03);
        }
        100% {
            transform: scale(1);
        }
    }

    #blogs .post-box:hover .post-title {
        animation: pulse 1s infinite;
    }

    #blogs .post-img{
        width: 100%;
        height: 200px;
        object-fit: cover;
        object-position: center;
        border-radius: 0.5rem;
        transition: transform 0.3s ease-in-out;
    }

    #blogs .post-img:hover {
        transform: scale(1.05);
    }

    #blogs .category{
        font-size: 0.9rem;
        font-weight: 500;
        text-transform: uppercase;
        color: var(--second-color);
    }

    #blogs .post-title{
        font-size: 1.3rem;
        font-weight: 600;
        color: var(--text-color);
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    #blogs .post-date{
        display: flex;
        font-size: 0.875rem;
        text-transform: uppercase;
        margin-top: 4px;
        font-weight: 400;
    }

    #blogs .post-description{
        font-size: 0.9rem;
        line-height: 1.5rem;
        margin: 5px 0 10px;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    #blogs .profile{
        display: flex;
        align-items: center;
        gap: 10px;
    }

    #blogs .profile-img{
        width: 35px;
        height: 35px;
        border-radius: 50%;
        object-fit: cover;
        object-position: center;
        border: 2px solid var(--second-color);
    }

    #blogs .profile-name{
        font-size: .8rem;
        font-weight: 500;
    }

    #blogs footer{
        position: relative;
        width: 100%;
        height: auto;
        padding: 50px 100px;
        margin-top: 3rem;
        background: #111;
        display: flex;
        font-family: sans-serif;
        justify-content: space-between;
    }

    #blogs .footer-container{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        flex-direction: row;
    }

    #blogs .footer-container .sec{
        margin-right: 30px;
    }

    #blogs .footer-container .sec.aboutus{
        width: 40%;
    }

    #blogs .footer-container h2{
        position: relative;
        color: #fff;
        margin-bottom: 15px;
    }

    #blogs .footer-container h2::before{
        content: '';
        position: absolute;
        bottom: -5px;
        left: 0;
        width: 50px;
        height: 2px;
        background: rgb(77, 228, 255);
    }

    #blogs footer p{
        color: #fff;
    }

    #blogs .sci{
        margin: 20px;
        display: flex;
    }

    #blogs .sci li{
        list-style: none;
    }

    #blogs .sci li a{
        display: inline-block;
        width: 40px;
        height: 40px;
        background: #222;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 10px;
        text-decoration: none;
        border-radius: 4px;
        transition: .5s;
    }

    #blogs .sci li a:hover{
        background: rgb(77, 228, 255);
    }

    #blogs .sci i a .bx{
        color: #fff;
        font-size: 20px;
    }

    #blogs .quicklinks{
        position: relative;
        width: 25%;
    }

    #blogs .quicklinks ul li{
        list-style: none;
    }

    #blogs .quicklinks ul li a{
        color: #999;
        text-decoration: none;
        margin-bottom: 10px;
        display: inline-block;
        transition: .3s;
    }

    #blogs .quicklinks ul li a:hover{
        color: #fff;
    }

    #blogs .footer-container .contactBx{
        width: calc(35% - 60px);
        margin-right: 0 !important;
    }

    #blogs .contactBx .info{
        position: relative;
    }

    #blogs .contactBx .info li{
        display: flex !important;
        margin-bottom: 16px;
    }

    #blogs .contactBx .info li span:nth-child(1){
        color: #fff;
        font-size: 20px;
        margin-right: 10px;
    }

    #blogs .contactBx .info li span{
        color: #999;
    }

    #blogs .contactBx .info li a{
        color: #999;
        text-decoration: none;
        transition: .5s;
    }

    #blogs .contactBx .info li a:hover{
        color: #fff;
    }

    @media (max-width: 1060px){
        #blogs .container{
            margin: 0 auto;
            width: 95%;
        }

        #blogs .home-text{
            width: 100%
        }
    }

    @media (max-width: 768px){
        #blogs .nav{
            padding: 10px 0;
        }

        #blogs section{
            padding: 2rem 0 !important;
        }

        #blogs .header-content{
            margin-top: 3rem !important;
        }

        #blogs .home{
            min-height: 380px;
        }

        #blogs .home-title{
            font-size: 3rem;
        }

        #blogs .header-title{
            font-size: 2rem;
        }

        #blogs .header-img{
            height: 370px;
        }

        #blogs .about{
            flex-direction: column;
        }

        #blogs .about .contentBx{
            min-width: 100%;
            width: 100%;
            text-align: center;
            padding-right: 0px;
        }

        #blogs .about .contentBx,
        #blogs .about .imgBx{
            min-width: 100%;
            width: 100%;
            padding-right: 0px;
            text-align: center;
        }

        #blogs .about .imgBx{
            min-height: 250px;
        }

        #blogs .btn2{
            margin-bottom: 30px;
        }

        #blogs .post-header{
            height: 435px;
        }

        #blogs .post-header{
            margin-top: 9rem !important;
        }
    }

    @media (max-width: 570px){
        #blogs .post-header{
            height: 390px;
        }

        #blogs .header-title{
            width: 100%;
        }

        #blogs .header-img{
            height: 340px;
        }
    }

    @media (max-width: 396px){
        #blogs .home-title{
            font-size: 2rem;
        }

        #blogs .home-subtitle{
            font-size: 0.9rem;
        }

        #blogs .home{
            min-height: 300px;
        }

        #blogs .post-box{
            padding: 10px;
        }

        #blogs .header-title{
            font-size: 1.4rem;
        }

        #blogs .header-img{
            height: 240px;
        }

        #blogs .post-header{
            height: 335px;
        }

        #blogs .header-img{
            height: 340px;
        }
    }

    /* Footer Media Query */
    @media (max-width: 991px){
        #blogs footer{
            padding: 40px;
            font-size: 20px;
        }

        #blogs footer .footer-container{
            flex-direction: column;
        }

        #blogs footer .footer-container .sec{
            margin-right: 0;
            margin-bottom: 40px;
        }

        #blogs footer .footer-container .sec.aboutus{
            width: 100% !important;
        }

        #blogs footer .footer-container .quicklinks{
            width: 100%;
        }

        #blogs footer .footer-container .contactBx{
            width: 100%;
        }
    }


    #blogs html
    {
        background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
        background-size: 400% 400%;
        animation: gradient 15s ease infinite;
        height: 100vh;
    }

.blog-show-button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 4px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}

.blog-show-button:hover {
    background-color: #45a049;
}
  
#main-content-blog {
    background-color: #064a8e; /* Set your desired background color */

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Ensure the card takes up the whole screen height */
}

.card {
    width: 80%; /* Adjust the width as per your design */
    background-color: #ffffff; /* Card background color */
    border-radius: 10px; /* Rounded corners for the card */
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */

    transition: transform 0.3s ease-in-out; /* Add a smooth transition effect */
}

.card:hover {
    transform: scale(1.05); /* Enlarge the card on hover */
}

.card img {
    width: 100%;
    height: 400px;
    object-fit: cover; /* Ensure the image covers the whole area */
    border-bottom: 1px solid #ddd; /* Add a border below the image */
}

.card-body {
    padding: 20px;
}

.card-title {
    font-size: 1.5em;
    color: #333; /* Set the title color */
    font-family: Arial, sans-serif; /* Set the font family */
    font-weight: bold; /* Set the font weight */
}

.card-text {
    color: #666; /* Set the text color */
    font-family: Arial, sans-serif; /* Set the font family */
}

/* Add more styles as needed */
